.PerfScroll:hover {
	will-change: scroll-position;
}

.PerfScroll:hover > .PerfScroll-rail,
.PerfScroll:hover > .PerfScroll-rail-thumb,
.PerfScroll > .PerfScroll-rail-thumb:active {
	will-change: top;
}

.PerfScroll > .PerfScroll-rail {
	background-color: blue;
	height: 100%;
	position: absolute;
	right: 3px;
	top: 0;
	width: 8px;
}

.PerfScroll-rail > .PerfScroll-rail-thumb {
	background-color: yellow;
	height: 30px;
	position: absolute;
	width: 100%;
}

.PerfScroll > .PerfScroll-rail,
.PerfScroll-rail > .PerfScroll-rail-thumb {
	border-radius: 8px;
}