.PerfScroll {
	position: relative;
}

.PerfScroll-overflow {
	overflow: hidden;
}

.PerfScroll-disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.PerfScroll-use-scrolling > .PerfScroll-box {
	height: 100%;
}

.PerfScroll-rail {
	background-color: blue;
	height: 100%;
	position: absolute;
	right: 3px;
	top: 0;
	width: 8px;
}

.PerfScroll-thumb {
	background-color: yellow;
	height: 30px;
	width: 100%;
}

.PerfScroll-rail,
.PerfScroll-thumb {
	border-radius: 8px;
}

.PerfScroll-inactive > .PerfScroll-rail {
    display: none;
}
