.PerfScroll {
	position: relative;
}

.PerfScroll-overflow {
	overflow: hidden;
}

.PerfScroll-box {
	height: inherit;
	max-height: inherit;
}

.PerfScroll-use-transforms > .PerfScroll-box {
    height: auto;
    max-height: none;
}

.PerfScroll-rail {
	background-color: blue;
	height: 100%;
	position: absolute;
	right: 3px;
	top: 0;
	width: 8px;
}

.PerfScroll-thumb {
	background-color: yellow;
	height: 30px;
	width: 100%;
}

.PerfScroll-rail,
.PerfScroll-thumb {
	border-radius: 8px;
}
